@page "/"

<PageTitle>Home</PageTitle>

<h1>Crear una factura</h1>

<div>
    <p>Para crear una factura, haga clic en el botón de abajo:</p>
    <input type="text" placeholder="Fecha de facturacion" @bind="facturaFecha" class="form-control mb-2" />
    <input type="text" placeholder="Nombre del cliente" @bind="clienteNombre" class="form-control mb-2" />
    <input type="text" placeholder="Articulos" @bind="articulos" class="form-control mb-2" />
    <button class="btn btn-primary" @onclick="crearFactura">Crear Factura</button>
</div>

@code{
    private string facturaFecha = string.Empty;
    private string clienteNombre = string.Empty;
    private string articulos = string.Empty;
    private void crearFactura()
    {
        // Lógica para crear la factura
        Console.WriteLine($"Factura creada para {clienteNombre} en la fecha {facturaFecha} con los artículos: {articulos}");
    }
}
