@import url(fontello.css);
@import url(menu.css);
@import url(banner.css);
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #fff; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
    color: darkgoldenrod;
}
p,ul,ol {
	
    text-align: justify
}
table,td,tr {
    text-align: justify;
    justify-content: center;
    background: lightyellow;
    border-color: black;
    border-style: double;
    align-self: center;
}
table{
    margin: auto;
    padding: 5px;
    margin-bottom: 15px
}

main {
	background: white;
	width: 90%;
	max-width: 1000px;
	margin: 60px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
h2,h3 {
    color: #000;
    justify-content: center;
    width: auto;
    margin-left: 100
}
h4 {
    color: #000;
    justify-content: center;
    width: auto;
    margin-left: 100
}
 .lista{
    margin: 0
}

.contenedor {
    width: 80%;
    margin: auto;
}
main .contenedor {
    padding: 30px;
}
.icon-gamepa {
    margin-left: 10px;
    color: blue;
}

#main-header {
	background: rgba(25,255,90);
	color: white;
	height: 70px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
}	

#main-header a {
    color: white;
}

#logo-header {
	float: left;
	padding: 15px 0 20px;
	text-decoration: none;
}
#logo-header:hover {
	color: #0b76a6;
}
	
#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}
@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
    p,ul,ol{
        margin: 0 150 1.5em 100;
    }
    table {
        margin: 0 150 1.5em 100;
    }
    .cul{
        margin: auto;
    }
    
}
.bienvenida {
    text-align: center;
    color: #fff;
}
#main-footer {
	background: rgba(25,255,90,0.9);
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
#main-footer p {
	margin: 0;
}
	
#main-footer a {
	color: white;
}
.pimg{
    border: 10px solid rgba(167, 240, 47, 0.4);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 60%; 
}
.rever {
    border: 10px circle rgba(167, 240, 47, 0.4);
    border-radius: 15px;
    display: block;
    margin: 1.3em auto;
    max-width: 60%;
}
html{
    cursor: url(/img/cursor1.png),
        auto;
}
a:hover{
    cursor: url(/img/cursor2.png),
        auto;
}