#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100vh;
    background: rgba(25,255,90,0.9);
    transition: all 0.5s;
    transform: translateX(200%);
}

.menu a {
    display: block;
    color: 25,255,90;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(25,255,90,0.5);
}

.menu a:hover{
    background: rgba(25,255,90,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(50%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
        height: 15px;
        margin-top: 10px;
    }
    
    header label {
        display: none;
    }
}